body {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    background-color: var(--header-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

:root {
    --rating-bg: rgb(105, 60, 124);
    --main-color: #2D2F2F;
    --text: #858585;
    --table-bg: rgb(172, 49, 230);
    --thead-bg: #4d40ff;
    --tb-item-1-bg: #3200bd;
    --tb-item-2-bg: #3220db;
    --tb-item-3-bg: #3350cd;
    --tb-item-4-bg: #3420bd;
    --rating: #fffb00;
    --share-opinion-border: #4d0040;
    --shart-opinion-text: #5A5C5C;
    --input-bg: #eeeeee;
    --button-bg: #7a0074;
    --logo_color: rgb(122, 20, 160);
    --bg-share-opinio: #96009b4b;
    --header_color: rgb(71, 0, 171);
    --text_header: rgb(30, 100, 240);
    --pointed_text: rgb(0, 0, 0);
    --modal_back: rgba(93, 0, 255, 0.4);
    --shadow: rgba(0, 0, 0, 0.796);
    --main_font: Space Grotesk;
    --addi_font: Be Vietnam Pro;
    --logo_color: rgb(122, 20, 160);
    --placeholder_color: #6e6e6e;
    --header-color: rgb(73, 32, 131);
    --text-color: rgb(30, 100, 240);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--modal_back);
    z-index: 100;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.x {
    display: flex;
    max-height: 25px;
    max-width: 25px;
    background-color: var(--text_header);
    color: var(--header_color);
    cursor: pointer;
    border-radius: 100%;
    justify-self: end;

    transition: box-shadow transform;
    transition-timing-function: ease-out;
    transition-duration: 150ms;
}

.x:hover {
    transform: translateY(-3px);
    box-shadow: 1px 2px 2px 1px var(--shadow);
    cursor: pointer;
}

.x:active {
    transform: translateY(0px);
    box-shadow: 0px 0px 0px 0px var(--shadow);
}

.modal {
    display: grid;
    position: absolute;
    top: 3%;
    left: 35%;
    transform: translate(-50%, -50%) scale(0.5);
    min-width: 500px;
    height: 700px;
    padding: 14px;
    background-color: var(--header_color);
    border-radius: 8px;
    box-shadow: 0 4px 24px black;
    color: var(--text_header);
    opacity: 0;
    font-family: var(--main_font);
}

.modal2 {
    display: grid;
    position: absolute;
    top: 15ch;
    left: 55ch;
    transform: translate(-50%, -50%) scale(0.5);
    width: 400px;
    height: 450px;
    padding: 14px;
    background-color: var(--header_color);
    border-radius: 8px;
    box-shadow: 0 4px 24px black;
    color: var(--text_header);
    opacity: 0;
    font-family: var(--main_font);
}

.modal3 {
    display: grid;
    position: absolute;
    top: 10ch;
    left: 55ch;
    transform: translate(-50%, -50%) scale(0.5);
    width: 400px;
    height: 550px;
    padding: 14px;
    background-color: var(--header_color);
    border-radius: 8px;
    box-shadow: 0 4px 24px black;
    color: var(--text_header);
    opacity: 0;
    font-family: var(--main_font);
}

.backdrop:not(.is-hidden) .modal {
    animation: modal 0.4s ease forwards;
}

@keyframes modal {
    0% {
        min-height: 50px;
        transform: scale(0.5);
        opacity: 0;
    }

    100% {
        min-height: 600px;
        transform: scale(1);
        opacity: 1;
    }

}

.backdrop:not(.is-hidden) .modal2 {
    animation: modal2 0.4s ease forwards;
}

@keyframes modal2 {
    0% {
        min-height: 50px;
        transform: scale(0.5);
        opacity: 0;
    }

    100% {
        min-height: 450px;
        transform: scale(1);
        opacity: 1;
    }

}

.backdrop:not(.is-hidden) .modal3 {
    animation: modal2 0.4s ease forwards;
}

@keyframes modal3 {
    0% {
        min-height: 50px;
        transform: scale(0.5);
        opacity: 0;
    }

    100% {
        min-height: 450px;
        transform: scale(1);
        opacity: 1;
    }

}

header {
    display: flex;
    position: sticky;
    background-color: var(--header_color);
    margin: 0 auto;
    z-index: 10;
    top: 0;
    height: 88px;
    font-family: var(--main_font);
}

.nav_link {
    font-size: 25px;
    margin-left: 40px;
    transition: transform;
    transition-timing-function: ease-out;
    transition-duration: 150ms;
}

.nav_link a {
    margin-bottom: 4px;
    color: var(--text_header);
    text-decoration: none;

}

nav {
    display: flex;
    margin: 0 auto;

}

.nav_link:hover {
    color: var(--pointed_text);
    border-bottom: 2px solid var(--pointed_text);
    transform: translateY(-4px);
}

.nav_link a:hover {
    color: var(--pointed_text);
}

.logo {
    margin: 28px 0px 28px 48px;
}

.span {
    color: var(--logo_color);
}

.header_but {
    background-color: var(--text_header);
    color: var(--header_color);
    border-radius: 25px;
    height: 50%;
    width: 135px;
    align-self: center;
    margin-right: 18px;
    font-size: 16px;
    font-weight: bold;
    transition: box-shadow transform;
    transition-timing-function: ease-out;
    transition-duration: 150ms;
    font-family: var(--main_font);
    border: 0px;

}

.header_but:hover {
    transform: translateY(-6px);
    box-shadow: 1px 2px 2px 1px var(--shadow);
    cursor: pointer;

}

.header_but:active {
    transform: translateY(0px);
    box-shadow: 0px 0px 0px 0px var(--shadow);
}

.header_but2 {
    background-color: var(--text_header);
    color: var(--header_color);
    border-radius: 25px;
    height: 50%;
    width: 135px;
    align-self: center;
    margin-right: 48px;
    font-size: 16px;
    font-weight: bold;
    transition: box-shadow transform;
    transition-timing-function: ease-out;
    transition-duration: 150ms;
    font-family: var(--main_font);
    border: 0px;
}

.header_but2:hover {
    transform: translateY(-6px);
    box-shadow: 1px 2px 2px 1px var(--shadow);
    cursor: pointer;

}

.header_but2:active {
    transform: translateY(0px);
    box-shadow: 0px 0px 0px 0px var(--shadow);
}

.film {
    text-align: center;

    margin: 0 auto;
    margin-bottom: 30px;

}

.poster {
    border-radius: 20px;
    width: 215px;
}

.film h2 {
    font-size: 36px;
    margin-bottom: 8px;
    margin-top: 0;
}

.film p {
    font-size: 16px;
    text-align: center;
    font-family: var(--addi_font);
    margin: 0;
    opacity: 0.8;
    width: 250px;
    justify-self: center;
}

.discount {
    color: var(--header_color);
    background-color: var(--text_header);
    border-radius: 16px;
    text-align: center;
    padding: 4px;
    margin-left: 30px;
    margin-right: 30px;
}

.discount h2 {
    font-size: 48px;
    margin: 0;
}

.discount p {
    margin: 0;
    font-size: 20px;
}

.modal_form {
    background-color: var(--text_header);
    color: var(--header_color);
    border-radius: 16px;
    align-self: center;
    font-size: 16px;
    font-weight: bold;
    width: 80%;
    font-family: var(--main_font);
    display: block;
    justify-self: center;
    margin: 20px;
    height: 42px;
}

.modal_form::placeholder {
    color: var(--placeholder_color);
    font-family: var(--addi_font);
}

.modal_but {
    background-color: var(--text_header);
    color: var(--header_color);
    border-radius: 16px;
    align-self: center;
    font-size: 16px;
    font-weight: bold;
    width: 80%;
    font-family: var(--main_font);
    cursor: pointer;
    display: block;
    justify-self: center;
    margin: 20px;
    height: 42px;
    border: 0px;
}

.hero {
    display: flex;
    font-family: var(--main_font);
    background-color: var(--header_color);
    color: var(--text_header);
    height: 100%;
    padding-left: 30px;
    padding-top: 90px;

}

.hero_poster {
    margin: 0 auto;
    width: 400px;
    height: 580px;
    border-radius: 16px;
    margin-right: 150px;
    margin-bottom: 157px;
}

.present {
    background-color: var(--text_header);
    color: var(--header_color);
    border-radius: 16px;
    padding-left: 16px;
    font-size: 16px;
    max-width: 200px;
}

.hero_content {
    padding-top: 60px;
    width: 65%;
}

.hero_name {
    font-size: 100px;
    margin: 0;
}

.hero_but1 {
    background-color: var(--text_header);
    color: var(--header_color);
    border-radius: 25px;
    height: 50px;
    width: 236px;
    align-self: center;
    margin-right: 24px;
    font-size: 14px;
    font-weight: bold;
    font-family: var(--main_font);
    cursor: pointer;
    border: 0px;
}

.hero_content p {
    font-family: var(--addi_font);
    width: 65%;
}

.hero_but2 {
    background-color: var(--header_color);
    color: var(--text_header);
    border-radius: 25px;
    height: 50px;
    width: 236px;
    align-self: center;
    margin-right: 24px;
    font-size: 14px;
    font-weight: bold;
    font-family: var(--main_font);
    cursor: pointer;
    border: 2px solid var(--text_header);
}

.form_name {
    justify-self: center;
    font-family: var(--main_font);
    font-size: 50px;
}

.form_name2 {
    text-align: center;
    font-family: var(--main_font);
}

.modal_but2 {
    background-color: var(--text_header);
    color: var(--header_color);
    border-radius: 16px;
    align-self: center;
    font-size: 16px;
    font-weight: bold;
    width: 80%;
    font-family: var(--main_font);
    cursor: pointer;
    display: block;
    justify-self: center;
    margin-top: 50px;
    height: 42px;
    border: 0px;
}

.modal_form2 {
    background-color: var(--text_header);
    color: var(--header_color);
    border-radius: 16px;
    align-self: center;
    font-size: 16px;
    font-weight: bold;
    width: 70%;
    font-family: var(--main_font);
    display: block;
    justify-self: center;
    margin: 20px;
    height: 42px;
}

.modal_form2::placeholder {
    color: var(--placeholder_color);
    font-family: var(--addi_font);
}

.rad {
    display: flex;
    margin: 20px 20px 20px 50px;
    height: 30px;
    align-items: center;
}

.check {
    display: flex;
    margin: 20px 20px 20px 50px;
    align-items: center;
    height: 30px;
}

.modal_but3 {
    background-color: var(--text_header);
    color: var(--header_color);
    border-radius: 16px;
    align-self: center;
    font-size: 16px;
    font-weight: bold;
    width: 80%;
    font-family: var(--main_font);
    cursor: pointer;
    display: block;
    justify-self: center;
    height: 42px;
    border: 0px;
}

.terms_of_service {
    color: var(--text_header);
}

.terms_of_service:hover {
    color: var(--pointed_text);
}

/* glib */
.dexter_title {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600px;
    font-style: normal;
    font-size: 45px;
    color: var(--text-color);
}

:root {
    --header-color: rgb(73, 32, 131);
    --text-color: rgb(30, 100, 240);
}

img {
    border-radius: 15px;
}

body {
    margin: 0;
    box-sizing: border-box;
    background-color: var(--header-color);
}


p {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    font-size: 20px;
    color: var(--text-color);
}

.dexter_place {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 150px;
}

.dexter_image_2 {
    margin: 50px;
    margin-left: 400px;
}


.other_title {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600px;
    font-style: normal;
    font-size: 50px;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    margin: 100px;
}

h3 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600px;
    font-style: normal;
    font-size: 35px;
    color: var(--text-color);
}

.one {
    display: flex;
    align-items: center;
    gap: 0px;
}

.text {
    margin-left: 100px;

}

.pp {
    width: 790px;
    height: 50px;
}

.rating-dex {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.card-poster {
    width: 580px;
    height: 800px;
    position: relative;
    overflow: hidden;
}

.card-poster img {
    width: 100%;
    height: 100%;
    display: block;
}

.card-poster h3,
.card-poster p,
.card-poster button {
    position: absolute;
    z-index: 2;
    display: none;
}

.card-poster h3 {
    position: absolute;
    top: 220px;
    width: 100%;
    text-align: center;
    font-size: 56px;
}

.card-poster .rating_2 {
    top: 330px;
    left: 180px;
}

.card-poster .year {
    top: 330px;
    right: 180px;
}

.card-poster button {
    top: 430px;
    left: 50%;
    border-radius: 20px;
    border: 0px;
    color: var(--text-color);
    background-color: var(--header-color);
    font-size: 15px;
    width: 120px;
    height: 45px;
    transform: translate(-50%, -50%);
}

.card-poster:hover img {
    opacity: 0.7;
}

.card-poster:hover h3,
.card-poster:hover p,
.card-poster:hover button {
    display: block;
}

.year {
    margin-left: 150px;
}

.rating_2 {
    margin-right: 100px;
}

.card-poster {
    width: 580px;
    height: 800px;
    position: relative;
    overflow: hidden;
}

.card-poster img {
    width: 100%;
    height: 100%;
    display: block;
}

.card-poster h3,
.card-poster p,
.card-poster button {
    position: absolute;
    z-index: 2;
    display: none;
}

.card-poster h3 {
    position: absolute;
    top: 220px;
    width: 100%;
    text-align: center;
    font-size: 56px;
}

.card-poster .rating_2 {
    top: 330px;
    left: 180px;
}

.card-poster .year {
    top: 330px;
    right: 180px;
}

.card-poster button {
    top: 430px;
    left: 50%;
    border-radius: 20px;
    border: 0px;
    color: var(--text-color);
    background-color: var(--header-color);
    font-size: 15px;
    width: 120px;
    height: 45px;
    transform: translate(-50%, -50%);
}

.card-poster:hover img {
    opacity: 0.7;
}

.card-poster:hover h3,
.card-poster:hover p,
.card-poster:hover button {
    display: block;
}

.card-poster_2 {
    width: 580px;
    height: 388px;
    overflow: hidden;
    display: grid;
}

.card-poster_2 img,
.card-poster_2 h3,
.card-poster_2 p,
.card-poster_2 button {
    grid-column: 1;
    grid-row: 1;
}

.card-poster_2 img {
    width: 100%;
    height: 100%;
    display: block;
}

.card-poster_2 h3,
.card-poster_2 p,
.card-poster_2 button {
    display: none;
    z-index: 2;
    text-align: center;
}

.card-poster_2 h3 {
    margin-top: 60px;
    font-size: 32px;
}

.card-poster_2 p {
    margin-top: 130px;
    font-size: 20px;
}

.card-poster_2 button {
    margin: 210px auto 0;
    padding: 10px 22px;
    width: 120px;
    height: 45px;
    border-radius: 20px;
    border: 0px;
    color: var(--text-color);
    background-color: var(--header-color);
    font-size: 15px;
}

.card-poster_2:hover img {
    opacity: 0.7;
}

.card-poster_2:hover h3,
.card-poster_2:hover p,
.card-poster_2:hover button {
    display: block;
}

.card-poster_3 {
    width: 278px;
    height: 388px;
    position: relative;
    overflow: hidden;
}

.card-poster_3 img {
    width: 100%;
    height: 100%;
    display: block;
}

.card-poster_3 h3,
.card-poster_3 p,
.card-poster_3 button {
    position: absolute;
    display: none;
    z-index: 2;
}

.card-poster_3 h3 {
    top: 80px;
    width: 100%;
    text-align: center;
}

.card-poster_3 .rating_2 {
    top: 150px;
    left: 40px;
}

.card-poster_3 .year {
    top: 150px;
    right: 40px;
}

.card-poster_3 button {
    top: 220px;
    left: 50%;
    transform: translate(-50% -50%);
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: var(--header-color);
    color: var(--text-color);
    border: none;
}

.card-poster_3:hover img {
    opacity: 0.7;
}

.card-poster_3:hover h3,
.card-poster_3:hover p,
.card-poster_3:hover button {
    display: block;
}

.card-poster_4 {
    width: 278px;
    height: 388px;
    position: relative;
    overflow: hidden;
}

.card-poster_4 img {
    width: 278px;
    height: 388px;
    display: block;
}

.card-poster_4 h3,
.card-poster_4 p,
.card-poster_4 button {
    position: absolute;
    z-index: 2;
    display: none;
}

.card-poster_4 h3 {
    top: 80px;
    width: 100%;
    text-align: center;
    font-size: 28px;
}

.card-poster_4 .rating_4 {
    top: 150px;
    left: 40px;
}

.card-poster_4 .year_4 {
    top: 150px;
    right: 40px;
}

.card-poster_4 button {
    top: 220px;
    left: 89px;
    width: 100px;
    height: 40px;
    cursor: pointer;
    border-radius: 20px;
    background-color: var(--header-color);
    color: var(--text-color);
    border: none;
}

.card-poster_4:hover img {
    opacity: 0.7;
}

.card-poster_4:hover h3,
.card-poster_4:hover .rating_4,
.card-poster_4:hover .year_4,
.card-poster_4:hover button {
    display: block;
}

.cards {
    width: 1180px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 580px 580px;
    grid-template-rows: 388px 388px;
    gap: 20px;
}

.place_1 {
    grid-column: 1;
    grid-row: span 2;
}

.right-side {
    grid-column: 2;
    grid-row: span 2;
    display: grid;
    grid-template-columns: 580px;
    grid-template-rows: 388px 388px;
    gap: 20px;
}

.card_2 {
    grid-column: 1;
    grid-row: 1;
}

.bottom-cards {
    display: grid;
    grid-template-columns: 278px 278px;
    gap: 24px;
}

.card_3 {
    grid-column: 1;
}

.card_4 {
    grid-column: 2;
}

.cards-title {
    padding-bottom: 100px;
}

.backdrop-g {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.is-hidden-g {
    display: none !important;
}

.no-scroll-g {
    overflow: hidden;
}

.modal-g {
    width: 800px;
    height: 400px;
    background-color: var(--header-color);
    color: var(--text-color);
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

.btn-close-g {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    padding: 8px 12px;
    border-radius: 10px;
    cursor: pointer;
    color: var(--header-color);
    background-color: var(--text-color);
}

.btn-open-g {
    cursor: pointer;
}

.qwe {
    width: 150px;
    height: 250px;
}

.ppppp {
    width: 550px;
}

.rows {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 25px;
}

.backdrop_2-g {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.is-hidden2-g2 {
    display: none !important;
}

.no-scroll2-g2 {
    overflow: hidden;
}

.modal_2-g {
    width: 800px;
    height: 400px;
    background-color: var(--header-color);
    color: var(--text-color);
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

.btn-close-2-g {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 10px;
    color: var(--header-color);
    background-color: var(--text-color);
}

.rows_2 {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.qwe_2 {
    width: 150px;
    height: 250px;
}

.ppppp_2 {
    width: 550px;
}

.backdrop_3-g {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.is-hidden-g3 {
    display: none !important;
}

.no-scroll-g3 {
    overflow: hidden;
}

.modal_3-g {
    width: 800px;
    height: 400px;
    background-color: var(--header-color);
    color: var(--text-color);
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

.btn-close_3-g {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 10px;
    color: var(--header-color);
    background-color: var(--text-color);
}

.rows_3 {
    display: flex;
    gap: 25px;
    justify-content: center;
}

.qwe_3 {
    width: 150px;
    height: 250px;
}

.ppppp_3 {
    width: 550px;
}

.backdrop_4-g {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.is-hidden-g4 {
    display: none !important;
}

.no-scroll-g4 {
    overflow: hidden;
}

.modal_4-g {
    width: 800px;
    height: 400px;
    background-color: var(--header-color);
    color: var(--text-color);
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

.btn-close_4-g {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 10px;
    color: var(--header-color);
    background-color: var(--text-color);
}

.rows_4 {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.qwe_4 {
    width: 150px;
    height: 250px;
}

.ppppp_4 {
    width: 550px;
}

/* seva */
.rating {
    background-color: var(--rating-bg);
    display: flex;
    justify-content: center;
    text-align: center;
}

.rating-title {
    font-size: 60px;
    font-weight: 900;
    color: var(--rating-title);
    font-family: 'Space Grotesk', sans-serif;
    margin-bottom: 0;
    margin-top: 128px;
}

.rating-text {
    font-size: 16px;
    font-weight: 400;
    color: var(--text);
    font-family: 'Be Vietnam Pro', sans-serif;
    margin-bottom: 80px;
}

.rating-table {
    border-radius: 16px;
    overflow: hidden;
    background-color: var(--table-bg);
    margin-bottom: 128px;
}

.table {
    width: 1024px;
    height: 467px;
    border-collapse: collapse;
    text-align: start;
}

.table-head {
    background-color: var(--thead-bg);
    width: 1024px;
    height: 64px;
    font-family: 'Space Grotesk', sans-serif;
}

.tb-item-1 {
    background-color: var(--tb-item-1-bg);
}

.tb-item-2 {
    background-color: var(--tb-item-2-bg);
}

.tb-item-3 {
    background-color: var(--tb-item-3-bg);
}

.tb-item-4 {
    background-color: var(--tb-item-4-bg);
}

.nav-in-table {
    font-size: 17px;
    font-weight: 700;
    font-family: 'Space Grotesk', sans-serif;
}

.data-in-table {
    font-size: 14px;
    font-weight: 700;
    font-family: 'Be Vietnam Pro', sans-serif;
    padding-left: 35px;
}

.title-in-table {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.starring-in-table {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.rating-in-table-in {
    font-size: 16px;
    font-weight: 700;
    color: var(--main-color);
    border-radius: 30px;
    background-color: var(--rating);
    padding: 10px;
}

.share-opinion-container {
    background-color: var(--bg-share-opinio);
    display: flex;
    justify-content: center;
}

.share-opinion-div {
    border: 10px solid var(--share-opinion-border);
    border-radius: 50px;
    margin-top: 128px;
    margin-bottom: 128px;
    width: 1152px;
    height: 532px;
    background-color: white;
    display: flex;
}

.share-opinion-title {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 60px;
    font-weight: 700;
    margin-top: 110px;
}

.share-opinion-text {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--shart-opinion-text);
}

.share-opinion-member {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--shart-opinion-text);
}

.share-opinion-subtitle-1 {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 10px;
    color: var(--shart-opinion-text);
}

.share-opinion-subtitle-2 {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 10px;
    color: var(--shart-opinion-text);
}

.share-opinion-input {
    border: 0px;
    border-radius: 100px;
    background-color: var(--input-bg);
    padding-left: 25px;
    padding-right: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.share-opinion-article-1 {
    margin-left: 100px;
    margin-right: 150px;
}

.share-opinion-article-2 {
    margin-top: 110px;
}

.share-opinion-button {
    background-color: var(--button-bg);
    border: 0px;
    border-radius: 75px;
    padding-left: 115px;
    padding-right: 115px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.share-opinion-authenticate-text {
    font-size: 15px;
    font-family: 'Be Vietnam Pro', sans-serif;
    color: var(--text);
    text-align: center;
}

.member {
    margin-top: 32px;
}

footer {
    display: flex;
    flex-direction: row;
}

.footer-list {
    display: flex;
    gap: 40px;
    padding-left: 156.6px;
}

.footer-title {
    font-size: 30px;
    font-weight: 700;
    font-family: 'Space Grotesk', sans-serif;
    padding-left: 80px;
    padding-top: 64px;
}

.footer-item {
    padding-top: 72px;
    padding-bottom: 72px;
}

.footer-item-text {
    font-size: 14px;
    font-family: 'Be Vietnam Pro', sans-serif;
    color: var(--text);
}

.copyright {
    font-weight: 500;
    font-size: 10px;
    font-family: Be Vietnam Pro;
    color: var(--text);
    padding-top: 95px;
    padding-left: 156.61px;
}