body {
    margin: 0 auto;
    padding: 0 auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

:root {
    --rating-bg: rgb(105, 60, 124);
    --main-color: #2D2F2F;
    --text: #858585;
    --table-bg: rgb(172, 49, 230);
    --thead-bg: #4d40ff;
    --tb-item-1-bg: #3200bd;
    --tb-item-2-bg: #3220db;
    --tb-item-3-bg: #3350cd;
    --tb-item-4-bg: #3420bd;
    --rating: #fffb00;
    --share-opinion-border: #4d0040;
    --shart-opinion-text: #5A5C5C;
    --input-bg: #eeeeee;
    --button-bg: #7a0074;
    --logo_color: rgb(122, 20, 160);
    --bg-share-opinio: #96009b4b;
}

.rating {
    background-color: var(--rating-bg);
    display: flex;
    justify-content: center;
    text-align: center;
}

.rating-title {
    font-size: 60px;
    font-weight: 900;
    color: var(--rating-title);
    font-family: 'Space Grotesk', sans-serif;
    margin-bottom: 0;
    margin-top: 128px;
}

.rating-text {
    font-size: 16px;
    font-weight: 400;
    color: var(--text);
    font-family: 'Be Vietnam Pro', sans-serif;
    margin-bottom: 80px;
}

.rating-table {
    border-radius: 16px;
    overflow: hidden;
    background-color: var(--table-bg);
    margin-bottom: 128px;
}

.table {
    width: 1024px;
    height: 467px;
    border-collapse: collapse;
    text-align: start;
}

.table-head {
    background-color: var(--thead-bg);
    width: 1024px;
    height: 64px;
    font-family: 'Space Grotesk', sans-serif;
}

.tb-item-1 {
    background-color: var(--tb-item-1-bg);
}

.tb-item-2 {
    background-color: var(--tb-item-2-bg);
}

.tb-item-3 {
    background-color: var(--tb-item-3-bg);
}

.tb-item-4 {
    background-color: var(--tb-item-4-bg);
}
.nav-in-table {
    font-size: 17px;
    font-weight: 700;
    font-family: 'Space Grotesk', sans-serif;
}
.data-in-table {
    font-size: 14px;
    font-weight: 700;
    font-family: 'Be Vietnam Pro', sans-serif;
    padding-left: 35px;
}
.title-in-table {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Be Vietnam Pro', sans-serif;
}
.starring-in-table {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Be Vietnam Pro', sans-serif;
}
.rating-in-table-in {
    font-size: 16px;
    font-weight: 700;
    color: var(--main-color);
    border-radius: 30px;
    background-color: var(--rating);
    padding: 10px;
}

.share-opinion-container {
    background-color: var(--bg-share-opinio);
    display: flex;
    justify-content: center;
}

.share-opinion-div {
    border: 10px solid var(--share-opinion-border);
    border-radius: 50px;
    margin-top: 128px;
    margin-bottom: 128px;
    width: 1152px;
    height: 532px;
    background-color: white;
    display: flex;
}

.share-opinion-title {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 60px;
    font-weight: 700;
    margin-top: 110px;
}
.share-opinion-text {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--shart-opinion-text);
}
.share-opinion-member {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--shart-opinion-text);
}
.share-opinion-subtitle-1 {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 10px;
    color: var(--shart-opinion-text);|
    
}
.share-opinion-subtitle-2 {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 10px;
    color: var(--shart-opinion-text);
}
.share-opinion-input {
    border: 0px;
    border-radius: 100px;
    background-color: var(--input-bg);
    padding-left: 25px;
    padding-right: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.share-opinion-article-1 {
    margin-left: 100px;
    margin-right: 150px;
}
.share-opinion-article-2 {
    margin-top: 110px;
}

.share-opinion-button {
    background-color: var(--button-bg);
    border: 0px;
    border-radius: 75px;
    padding-left: 115px;
    padding-right: 115px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    font-family: 'Be Vietnam Pro', sans-serif;
}
.share-opinion-authenticate-text {
    font-size: 15px;
    font-family: 'Be Vietnam Pro', sans-serif;
    color: var(--text);
    text-align: center;
}
.member {
    margin-top: 32px;
}

.footer {
    display: flex;
    flex-direction: row;
}

.footer-list {
    display: flex;
    gap: 40px;
    padding-left: 156.6px;
}
.footer-title {
    font-size: 30px;
    font-weight: 700;
    font-family: 'Space Grotesk', sans-serif;
    color: var(--logo_color);
    padding-left: 80px;
    padding-top: 64px;
}
.footer-item {
    padding-top: 72px;
    padding-bottom: 72px;
}
.footer-item-text {
    font-size: 14px;
    font-family: 'Be Vietnam Pro', sans-serif;
    color: var(--shart-opinion-text);
}
.copyright {
    font-weight: 500;
    font-size: 10px;
    font-family: Be Vietnam Pro;
    color: var(--shart-opinion-text);
    padding-top: 95px;
    padding-left: 156.61px;
}